@model TelaCadastro.Util.TabelaGenerica<DAL.Model.Cidade>
@{
    Layout = null;
    int cont = (Model.PaginaAtual - 1) * Model.Paginacao;
}
<table>
    <thead class="tableHead">
        <tr>
            <th>#</th>
            <th onclick="Ordenar('cidadeid')">Código</th>
            <th onclick="Ordenar('nome')" )>Nome</th>
            <th onclick="Ordenar('estado')">Estado</th>
            <th onclick="Ordenar('cep')">Cep</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tableBody">
        @foreach (var item in Model.Dados)
        {
            <tr style="cursor:pointer;" onclick="BuscarAlunos(@item.cidadeid)">
                <td>@(cont = cont + 1)</td>
                <td>@item.cidadeid</td>
                <td>@item.nome</td>
                <td>@item.estado</td>
                <td>@item.cep</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10">
                <div class="col-md-4 col-sm-4 col-xs-4 pull-left">
                    @Html.HiddenFor(ent => ent.Paginacao)
                    <span class="link @(Model.Paginacao == 10 ? "link_selecionado" : "")" onclick="mudarPaginacao(5)">5</span>&nbsp;
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;">
                    <div class="form-inline input-group-sm">
                        <button type="button" class="botao botao-primario" onclick="mudarPagina(@(Model.PaginaAtual == 1 ? 1 : Model.PaginaAtual - 1))"><span class="fa fa-chevron-left"></span></button>
                        Página @Html.TextBoxFor(ent => ent.PaginaAtual, new { @class = "form-control", @style = "width: 35px;", @onkeyup = "mudarPagina();" }) de @Model.TotalPaginas &nbsp;
                        <button type="button" class="botao botao-primario" onclick="mudarPagina(@(Model.PaginaAtual == Model.TotalPaginas ? Model.TotalPaginas : Model.PaginaAtual + 1))"><span class="fa fa-chevron-right"></span></button>
                    </div>
                </div>
                <div class="col-md-4 pull-right col-sm-4 col-xs-4" style="text-align: right">
                    <b>Total:</b> @Model.TotalRegistros
                </div>
            </td>
        </tr>
    </tfoot>
</table>

