@model TelaCadastro.ViewModels.UsuarioViewModel
@{ Layout = null;
                ViewBag.Title = "Cadastro de Usuário"; }
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Projeto Saeinfo</title>
    @*@Styles.Render("~/content/css")*@
    <link href="~/Content/style/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="painel">
            <h3> Cadastrar Usuário</h3>
            <hr />

            @using (Html.BeginForm("Incluir", "Usuario", FormMethod.Post, new { @id = "formFiltros", @onsubmit = "VerificarSenha()" }))
            {
<div class="row">
    <div class="grid-6">
        @Html.Label("Nome")
        @Html.TextBoxFor(ent => ent.nome, new { @class = "formulario-controle", @required = true })
        @Html.ValidationMessageFor(ent => ent.nome)
    </div>
    <div class="grid-2">
        @Html.Label("CPF")
        @Html.TextBoxFor(ent => ent.cpf, new { @class = "formulario-controle", @required = true })
        @Html.ValidationMessageFor(ent => ent.cpf)
    </div>
</div>
                <div class="row">
                    <div class="grid-2">
                        @Html.Label("Sexo")
                        @Html.DropDownListFor(ent => ent.sexo, ViewBag.ListaSexo as SelectList, new { @class = "formulario-controle", @required = true })
                        @Html.ValidationMessageFor(ent => ent.sexo)
                    </div>
                    <div class="grid-2">
                        @Html.Label("Telefone")
                        @Html.TextBoxFor(ent => ent.telefone, new { @class = "formulario-controle", @required = true, @placeholder = "(99)999999-9999" })
                        @Html.ValidationMessageFor(ent => ent.telefone)
                    </div>
                    <div class="grid-2">
                        @Html.Label("Cidade")
                        @Html.DropDownListFor(ent => ent.cidadeid, ViewBag.ListaCidade as SelectList, new { @class = "formulario-controle", @required = true })
                        @Html.ValidationMessageFor(ent => ent.cidadeid)
                    </div>
                </div>
                                <div class="row">
                                    <div class="grid-2">
                                        @Html.Label("E-mail")
                                        @Html.TextBoxFor(ent => ent.email, new { @class = "formulario-controle", @required = true, @placeholder = "exemplo@exemplo.com.br", type = "email" })
                                        @Html.ValidationMessageFor(ent => ent.email)
                                    </div>
                                    <div class="grid-2">
                                        @Html.Label("Senha")
                                        @Html.TextBoxFor(ent => ent.senha, new { @class = "formulario-controle", @required = true, @type = "password" })
                                        @Html.ValidationMessageFor(ent => ent.sexo)
                                    </div>
                                    <div class="grid-2">
                                        @Html.Label("Confirmar Senha")
                                        @Html.TextBoxFor(ent => ent.confirmarsenha, new { @class = "formulario-controle", @required = true, @type = "password" })
                                        @Html.ValidationMessageFor(ent => ent.confirmarsenha)
                                    </div>
                                </div>
                                                <br />
                                                                <div class="row">
                                                                    <div class="grid-12">
                                                                        <button type="submit" class="botao botao-sucesso">Salvar</button>
                                                                        <button type="button" class="botao botao-primario" onclick="window.location.href='@Url.Action("Index","Login")'">Voltar</button>
                                                                    </div>
                                                                </div>}
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script>
        $(document).ready(function () {
            $("#cpf").mask("999.999.999-99");
            $("#telefone").mask("(99)99999-9999");
        })

        function VerificarSenha() {
            var senha = $("#senha").val();
            var confirmarsenha = $("#confirmarsenha").val();

            if (senha != confirmarsenha) {
                alert("As senhas não correspondem!")

                $("#senha").val("");
                $("#confirmarsenha").val("");

                event.preventDefault();
            }

        }
    </script>
</body>
</html>